$menu-color: #8d81ac;
$primary-color: #fff;

$container: 1200px;
$title_color: #4E4E4E;
$headerMenu_paddind_sm: 23px;
$main_color-1: #8D81AC;
$main_color-2: #ffffff;
$second_color-1: #848e97;

$small: 11px;
$medium: 12px;
$large: 14px;
$main: 16px;

$title_lg: 48px;
$title_md: 42px;